doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Создать пользователя
    link(rel="stylesheet" href="/public/css/style.css")
  body
    .container
      h1 Создать нового пользователя

      if error
        .error= error

      form(method="POST" action="/users")
        .form-group
          label(for="name") Имя и Фамилия
          input(type="text" id="name" name="name" placeholder="Жека барабулька" required)

        .form-group
          label(for="email") Email
          input(type="email" id="email" name="email" placeholder="griha@mail.ru" required)

        .form-actions
          button.btn.btn-primary(type="submit") Создать
          a.btn.btn-secondary(href="/users") Отмена
